#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules
npm-debug.log
*.js
*.map
*.d.ts
!manual_typings/**/*.d.ts
!playground/ng-metadata.legacy.d.ts
typings
test/__uglifyTest.js
_book

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
