#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log

*.ts
# allow only ambient type definitions
!*.d.ts

# ignore test files
*.spec.ts
*.spec.d.ts
ng-metadata.test.ts
ng-metadata.test.d.ts
ng-metadata.test.js
ng-metadata.test.js.map
test

typings
assets
playground

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
