#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log

# allow only ambient type definitions
!*.d.ts
.travis.yml
.editorconfig
.npmignore
.npmrc

# ignore folders
test
scripts
assets
playground

# ignore gitbook specific files
_book
book.json
SUMMARY.md

#################
## VSCode
#################
.vscode

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
