<todo-app></todo-app>

<hr>

<button
  class="mdl-button mdl-js-button mdl-button--accent"
  ng-click="$ctrl.showQueryExample=!$ctrl.showQueryExample">
  {{ $ctrl.showQueryExample ? 'hide' : 'show'}} <code>@Query</code> decorators example
</button>
<div ng-if="$ctrl.showQueryExample">
  <h3>check your console logs mate!</h3>
  <tabs>
    <tabs-content-child></tabs-content-child>
    <button ng-click="$ctrl.addItem()">add contentChild</button>
    <ul><li ng-repeat="item in $ctrl.items">
      <tabs-content-child id="item"></tabs-content-child>
      <button ng-click="$ctrl.removeItem(item)">remove</button>
    </li></ul>
  </tabs>
</div>

<button
  class="mdl-button mdl-js-button mdl-button--accent"
  ng-click="$ctrl.showDirectiveDiExample=!$ctrl.showDirectiveDiExample">
  {{ $ctrl.showDirectiveDiExample ? 'hide' : 'show'}} <code>@Inject</code> directive
</button>
<div ng-if="$ctrl.showDirectiveDiExample">

  <form name="diForm">

    <input type="text" ng-model="$ctrl.modelMock" name="modelMock" my-validator my-foo>

    <p ng-if="diForm.modelMock.$error.myValidator" style="color:red">whops error! diForm.modelMock.$errors</p>

  </form>

</div>

<button
  class="mdl-button mdl-js-button mdl-button--accent"
  ng-click="$ctrl.showSameLocalDiExample=!$ctrl.showSameLocalDiExample">
  {{ $ctrl.showSameLocalDiExample ? 'hide' : 'show'}} <code>multi equal @Inject</code> directive
</button>
<div ng-if="$ctrl.showSameLocalDiExample">

  <form name="diParentForm">
    Inside ParentForm
    <div ng-form="diChildForm" my-form-bridge>
      Inside childForm
    </div>

    <button>submit or so</button>

  </form>

</div>


<button
  class="mdl-button mdl-js-button mdl-button--accent"
  ng-click="$ctrl.showDirectivePropDecoratorsExample=!$ctrl.showDirectivePropDecoratorsExample">
  {{ $ctrl.showDirectivePropDecoratorsExample ? 'hide' : 'show'}} <code>@Directive</code> @Input/@Outpu/@Attr example
</button>
<div ng-if="$ctrl.showDirectivePropDecoratorsExample">

  <div
    my-directive-tester
    pure-string="hello!"
    interpolated="{{ $ctrl.directive.example.interpolated }}"
    binding="$ctrl.directive.example.binding"
    some-cb="$ctrl.directive.example.cb(from)"
  >
    Hello content
    <button ng-click="$ctrl.directive.changeValues()">Change values</button>
  </div>

</div>


<button
  class="mdl-button mdl-js-button mdl-button--accent"
  ng-click="$ctrl.showTesterCmp=!$ctrl.showTesterCmp">
  {{ $ctrl.showTesterCmp ? 'hide' : 'show'}} <code>@Component</code> Tester example
</button>
<fieldset ng-show="$ctrl.showTesterCmp">
  <div>
    <label>TWO WAY</label>
    <input type="text" ng-model="$ctrl.twoWay">
  </div>
  <div>
    <label>ONE WAY</label>
    <input type="text" ng-model="$ctrl.oneWay">
  </div>
</fieldset>
<div ng-if="$ctrl.showTesterCmp">
  <my-tester
    my-tester-attr
    one-way="$ctrl.oneWay"
    two-way="$ctrl.twoWay"
    in-one="$ctrl.cmpTester.model"
    attr-one="{{ $ctrl.cmpTester.interpolate }}"
    out-one="$ctrl.cmpTester.cb()"
  >
    <button ng-click="$ctrl.cmpTester.changeValues($event)">Change values bindings</button>
  </my-tester>
</div>

<h3>Docs examples:</h3>

<!--LC HOOKS-->
<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showLcOnChange=!$ctrl.showLcOnChange">
    {{ $ctrl.showLcOnChange ? 'hide' : 'show'}} <code>OnChange</code> LC example
  </button>
  <div ng-if="$ctrl.showLcOnChange">
    <on-changes-parent></on-changes-parent>
  </div>
</section>

<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showLcDoCheck=!$ctrl.showLcDoCheck">
    {{ $ctrl.showLcDoCheck? 'hide' : 'show'}} <code>DoCheck</code> LC example
  </button>
  <div ng-if="$ctrl.showLcDoCheck">
    <do-check-parent></do-check-parent>
  </div>
</section>

<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showLcAfterView=!$ctrl.showLcAfterView">
    {{ $ctrl.showLcAfterView ? 'hide' : 'show'}} <code>AfterViewInit/AfterViewChecked</code> LC example
  </button>
  <div ng-if="$ctrl.showLcAfterView">
    <after-view-parent></after-view-parent>
  </div>
</section>

<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showLcAfterContent=!$ctrl.showLcAfterContent">
    {{ $ctrl.showLcAfterContent? 'hide' : 'show'}} <code>AfterContentInit/AfterContentChecked</code> LC example
  </button>
  <div ng-if="$ctrl.showLcAfterContent">
    <after-content-parent></after-content-parent>
  </div>
</section>

<!--CHANGE DETECTOR REF-->
<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showChangeDetectorRef=!$ctrl.showChangeDetectorRef">
    {{ $ctrl.showChangeDetectorRef? 'hide' : 'show'}} <code>ChangeDetectorRef</code> example
  </button>
  <div ng-if="$ctrl.showChangeDetectorRef">
    <change-detector></change-detector>
  </div>
</section>

<!--ASYNC PIPE EXAMPLE-->
<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showAsyncPipeExample=!$ctrl.showAsyncPipeExample">
    {{ $ctrl.showAsyncPipeExample ? 'hide' : 'show'}} <code>AsyncPipe</code> example
  </button>
  <div ng-if="$ctrl.showAsyncPipeExample">
    <async-example></async-example>
  </div>
</section>

<!--Title-->
<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showTitleHandler=!$ctrl.showTitleHandler">
    {{ $ctrl.showTitleHandler? 'hide' : 'show'}} <code>Title</code> example
  </button>
  <div ng-if="$ctrl.showTitleHandler">
    <my-title-handler></my-title-handler>
  </div>
</section>

<!--Attribute Directive-->
<section class="demo-content">
  <button
    class="mdl-button mdl-js-button mdl-button--accent"
    ng-click="$ctrl.showAttrDirective=!$ctrl.showAttrDirective">
    {{ $ctrl.showAttrDirective? 'hide' : 'show'}} <code>Attribute Directive</code> example
  </button>
  <div ng-if="$ctrl.showAttrDirective">
    <my-attribute-directive-example></my-attribute-directive-example>
  </div>
</section>
