.comment {
  color: red;
  font-style: italic;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 1rem #ccc;
}
.demo-list {
  max-width: 80%;
  list-style: none;
  display: flex;
  flex-flow: column;
  padding: 0;
}
.demo-list > li{
  padding-top: .3rem;
  padding-bottom: .3rem;
}
todo-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
todo-item .todo__list--complete input+span{
  text-decoration: line-through;
}

tabs{
  display: block;
  background-color:antiquewhite;
  padding: 1rem;
}
tabs [ng-transclude],
tabs ng-transclude{
  border: 1px dashed brown;
  background-color: coral;
  padding: .4rem;
}
my-tester{
  display: block;
  margin:.5rem;
  padding: 1rem;
  box-shadow: 1px 1px 1rem #ccc;
}
